@import './variables.css';
@import './shared-components.css';

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.settings {
    @mixin config_icon;
    background: url('../media/settings.svg') no-repeat;
}

.logoff {
    @mixin config_icon;
    background: url('../media/logoff.svg') no-repeat;
}

.title {
      display: none;
    /*composes: uppercase_name from './shared-components.css';

    @mixin textShadow;

    font-size: 0.8em;
    padding-top: 5px;

    @media (--phone){
      display: none;
    }*/
}

.button {
    @mixin square 65px;
    @mixin softerEdges;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    border: 1px solid $white;
    padding: 6px;

    color: $nav_active_text_color;
    background-color: $nav_active_color;

    &:hover, &:active {
        color: $nav_active_hover_text_color;
        background-color: $nav_active_hover_color;
    }

    @media (--tiny-viewport){
        @mixin square 55px;
    }
}