@import './variables.css';

@define-extend small_rounded_container {
    @mixin hugeShadowOutline_box;

    width: 40%;
    min-width: 300px;
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

@define-extend small_container {
    width: 70%;
    min-width: 250px;
    max-width: 300px;
}

@define-extend uppercase_name {
    @mixin featureFont;
    @mixin textShadow;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1em;
    word-wrap: break-word;
}

@define-mixin config_icon {
    @mixin square 40px;

    @media (--tiny-viewport) {
        @mixin square 30px;
    }
}

@define-mixin button {
    @mixin featureFont;
    @mixin softerEdges;
    @mixin textShadow;
    /*@mixin boxShadow;*/
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1em;
    text-transform: uppercase;
    border: 1px solid $default_border;
    background-color: $default_button_color;
    color: $default_button_text_color;
    padding: 12px 22px;
    margin: 12px;
    text-decoration: none;

    &:hover {
        background-color: $default_button_hover_color;
    }

    &:active {
        background-color: $default_button_active_color;
    }

    &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
    }
}